APP_NAME=WOLFz API
APP_ENV=development
API_V1_PREFIX=/api/v1
AUTO_CREATE_TABLES=true
SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+psycopg://wolfz:wolfz@db:5432/wolfz
REDIS_URL=redis://redis:6379/0
ALGORITHM=HS256
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
ENABLE_GZIP=true
GZIP_MINIMUM_SIZE=1024
PRODUCTS_CACHE_MAX_AGE_SECONDS=60
